<?php $_productCollection = $this->getCollection(); ?>

<?php foreach ($_productCollection as $item): ?>
    <?php if ($item->getImagePreview()): ?>
        <img src='<?php echo Mage::getBaseUrl(
                Mage_Core_Model_Store::URL_TYPE_MEDIA
            ) . $item->getImagePreview(); ?>'
             height='200px' width='400px'>
    <?php endif; ?>
    <div style="word-wrap: break-word"><a href='<?php echo Mage::getUrl(
        'news/index/show', array('id' => $item->getId())
    ); ?>'>
        <h2><?php echo $item->getTitle(); ?></h2>
    </a></div>
    <?php echo $this->__("Date Published: ") . $item->getDatePublished(); ?>
    <hr>
<?php endforeach; ?>
<?php if ($this->getPagerHtml()): ?>
    <div class="pager">
        <div class="pages">
            <span><?php echo $this->__('Page :'); ?></span>
            <?php echo $this->getPagerHtml(); ?>
        </div>
    </div>
<?php endif; ?>




