<?php
echo "<h2>" . $this->__('Categories') . "</h2>";
foreach ($this->getCategories() as $item): ?>
    <a href='<?php echo Mage::getUrl(
        'news/index/category', array('name' => $item['value'])
    ); ?>'>
        <?php echo $item['label']; ?>
    </a><br>
<?php endforeach; ?>


