<?php $newsPost = $this->getNews(); ?>
<?php if ($newsPost->getImagePreview()): ?>
    <img src='<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)
        . $newsPost->getImagePreview(); ?>'
         alt='sorry' height='200px' width='400px'>
<?php endif; ?>
<h2><div style="word-wrap: break-word"><?php echo $newsPost->getTitle(); ?></div></h2>
<?php echo Mage::getSingleton('widget/template_filter')->filter(
    $newsPost->getContent()
); ?><br>
<?php echo $this->__("Date Published: ") . $newsPost->getDatePublished(); ?>
<div class="product-view">
    <?php echo $this->getChildHtml('product.info.upsell') ?>
</div>

